<h1>Bookmark Manager</h1>

<table>
  <thead>
    <th style="border: 1px solid black;">
      <td>Bookmarks</td>
    </th>
  </thead>
  <tbody>
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td>
        <a href = "<%=bookmark.url%>"> <%= bookmark.title %> </a>
        <form action="/delete" method="post">
          <input 
            type="submit" 
            id="<%= bookmark.title.gsub(' ', '-') %>" 
            name="<%= bookmark.title %>" 
            value="DELETE"
          >
        </form>
      </td>
    <tr>
  <% end %>
  </tbody>
</table>