<h1>Bookmark Manager <%=@title%></h1>

          
          
          
          <form action="/update_bookmark" method="post">
          <input type="text" name = "Title" value="<%= @bookmark.title %>">
          <input type="text" name = "URL" placeholder="URL" value="<%= @bookmark.url %>>
          <input type="submit" 
            id="Update-Title" 
            name="Update" 
            value="UPDATE"
          >
        </form>
 